body {
  background-color: black;
}

.star {
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.planet {
  transition: transform 0.2s ease;
}

.planet:hover {
  transform: translate(-50%, -50%) scale(1.2);
}